#about2 {
  text-align: justify;
  font-family: "Lato", sans-serif;
  padding: 40px 0px 120px 0;
  position: relative;

  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
}

#about2 .right-image {
  align-self: center;
}

#about h5,
#about2 h5 {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

#about p,
#about2 p {
  text-align: justify;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
