/* .ThreeDImage {
  background: linear-gradient(125deg, #302015 0%, #1c1008 100%);
} */

.tdexample {
  position: relative;
  width: 80%;
  height: 80%;
  padding-top: 50%;
  margin: auto;
}
.tdexample > .tdblock {
  position: absolute;
  height: 80%;
  width: 30%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.tdexample > .tdblock:nth-of-type(1) {
  height: 60%;
  top: 10%;
  left: 17%;
  width: 15%;
}
.tdexample > .tdblock:nth-of-type(2) {
  top: 0;
  left: 35%;
}
.tdexample > .tdblock:nth-of-type(3) {
  height: 60%;
  top: 10%;
  left: 64%;
  width: 15%;
}
.tdexample > .tdblock > .tdside {
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("https://miro.medium.com/max/2560/1*gBQxShAkxBp_YPb14CN0Nw.jpeg"); */
  background-size: auto 100%;
  box-shadow: -1vw 0.5vw 1vw rgba(0, 0, 0, 0.3);
}
.tdexample > .tdblock > .tdside.-tdmain {
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(30deg);
  transform: rotateY(30deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.tdexample > .tdblock > .tdside.-tdleft {
  height: 100%;
  width: 20%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotateY(-60deg) translateX(-100%);
  transform: rotateY(-60deg) translateX(-100%);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.tdexample > .tdblock:nth-of-type(1) > .tdside.-tdmain {
  background-position: 4% 50%;
  background-size: auto 130%;
}
.tdexample > .tdblock:nth-of-type(1) > .tdside.-tdleft {
  background-position: 0 50%;
  background-size: auto 130%;
}
.tdexample > .tdblock:nth-of-type(2) > .tdside.-tdmain {
  background-position: 50% 0;
}
.tdexample > .tdblock:nth-of-type(2) > .tdside.-tdleft {
  background-position: 28.5% 0;
}
.tdexample > .tdblock:nth-of-type(3) > .tdside.-tdmain {
  background-position: 96% 50%;
  background-size: auto 130%;
}
.tdexample > .tdblock:nth-of-type(3) > .tdside.-tdleft {
  background-position: 78% 50%;
  background-size: auto 130%;
}
