.opengreetingcardmaindiv {
  background: #ffbfe1;
  background: radial-gradient(ellipse at center, #ffbfe1 0%, #d95e9f 100%);
  padding-top: 100px;
  padding-bottom: 60px;
}
.gc_front p {
  font-size: 2.3rem !important;
}

.gc_containerr {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  margin-left: 47%;
  margin-top: 5%;
}
.gc_containerr .gc_carrd {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateX(30deg) rotateY(10deg);
  transform-style: preserve-3d;
  box-shadow: 10px 10px 35px -9px rgba(0, 0, 0, 0.5);
}
.gc_containerr .gc_carrd .gc_page {
  margin: 0;
  width: 200px;
  height: 300px;
  display: block;
  position: absolute;
  transition: 2s;
  transform-origin: 0% 50%;
  transform-style: preserve-3d;
}
.gc_containerr .gc_carrd .gc_page.gc_back {
  transform: rotateX(0deg);
}
.gc_containerr .gc_carrd .gc_page.gc_back > .gc_front {
  box-shadow: inset 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.gc_containerr .gc_carrd .gc_page.gc_front {
  transform: rotateY(0deg) translateZ(3px);
}
.gc_containerr .gc_carrd .gc_page.gc_front > .gc_back {
  box-shadow: inset -20px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.gc_containerr .gc_carrd .gc_page .side {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gc_containerr .gc_carrd .gc_page .side.gc_front {
  z-index: 2;
}
.gc_containerr .gc_carrd .gc_page .side.gc_back {
  transform: rotateY(180deg);
}
.gc_containerr .gc_carrd .gc_page .side p {
  text-align: center;
  padding: 20px 20px;
  font-family: "Tangerine", cursive;
  font-size: 3em;
  font-weight: bold;
  color: #353535;
  line-height: 0.8;
  letter-spacing: 0;
  margin: 0;
}
.gc_containerr .gc_carrd .gc_page .side p .red {
  color: #990000;
  text-shadow: 0px 0px 11px #990000;
}
.gc_containerr .gc_carrd .gc_page .side p .blue {
  color: #005da0;
  text-shadow: 0px 0px 11px #005da0;
}
.gc_containerr .gc_carrd.open > .gc_front {
  transform: rotateY(-150deg);
}

.gc_hearts {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2s;
}

.gc_heart {
  position: absolute;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  width: 30px;
  height: 30px;
  opacity: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-3 -1 16 16' preserveAspectRatio='xMidYMid meet'><path d='M5,12 C20,0 5,-2 5,3.5 C5,-2 -10,0 5,12 Z' fill='red' stroke='magenta' stroke-width='0'/></svg>");
}
.gc_heart svg {
  fill: red;
}
.gc_heart:nth-child(1) {
  margin-top: 10%;
  margin-left: 30%;
  animation-duration: 4s;
}
.gc_heart:nth-child(2) {
  margin-top: 70%;
  margin-left: 60%;
  animation-duration: 7.5s;
}
.gc_heart:nth-child(3) {
  margin-top: 20%;
  margin-left: 85%;
  animation-duration: 4.5s;
}
.gc_heart:nth-child(4) {
  margin-top: 80%;
  margin-left: 20%;
  animation-duration: 3.5s;
}
.gc_heart:nth-child(5) {
  margin-top: 15%;
  margin-left: 75%;
  animation-duration: 6s;
}
.gc_heart:nth-child(6) {
  margin-top: 90%;
  margin-left: 30%;
  animation-duration: 5.5s;
}
.gc_heart:nth-child(7) {
  margin-top: 60%;
  margin-left: 35%;
  animation-duration: 6.5s;
}
.gc_heart:nth-child(8) {
  margin-top: 80%;
  margin-left: 35%;
  animation-duration: 3.5s;
}

.open .gc_hearts {
  opacity: 1;
}
.open .gc_heart {
  animation-name: floatingClockwise;
}
.open .gc_heart:nth-child(even) {
  animation-name: floatingAntiClockwise;
}

@keyframes floatingClockwise {
  0% {
    transform: rotateX(-20deg) rotateY(-90deg) translateY(15px);
    opacity: 0.8;
  }
  100% {
    transform: rotateX(-20deg) rotateY(90deg) translateY(-120px);
    opacity: 0;
  }
}
@keyframes floatingAntiClockwise {
  0% {
    transform: rotateX(-20deg) rotateY(90deg) translateY(25px);
    opacity: 0.8;
  }
  100% {
    transform: rotateX(-20deg) rotateY(-90deg) translateY(-120px);
    opacity: 0;
  }
}
.side {
  background: url("https://i.ibb.co/WDnSY9v/cbimage.png");
}

@media only screen and (max-width: 600px) {
  .gc_containerr {
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .gc_containerr {
    transform: scale(1);
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .gc_containerr {
    transform: scale(1.2);
  }
  .opengreetingcardmaindiv {
    padding-top: 130px !important;
    padding-bottom: 70px !important;
  }
}
@media only screen and (min-width: 992px) {
  .gc_containerr {
    transform: scale(1.4);
  }
  .opengreetingcardmaindiv {
    padding-top: 160px !important;
    padding-bottom: 70px !important;
  }
}
